<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <h1>{{ _('Enter your name and a message') }}</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
     {% if text1 %}
        <p>{{ text1 }}</p>
    {% endif %}
    <form action="/{{ lang }}/" method="post">
        <input type="text" name="name" placeholder="{{ _('Name') }}" required>
        <br>
        <textarea name="text" placeholder="{{ _('Your message...') }}" required></textarea>
        <button type="submit">{{ _('Submit') }}</button>
    </form>
</body>
</html>
